<footer>
    <div class="center">
        <div class="about-header">
            <img style="width: 15%; padding-bottom: 10px;" src="/images/Logo_escola_albatroz.png">
            <p style="text-align: center;">Escola Estadual de Ensino Medio Albatroz - Osório - RS</p>
        </div>
    </div>
</footer>
</body>
</html>