<%- include('partials/header') %>
        <br>
        <div class="center">
            <div class="history">
                <h2>História</h2>
                <img style="width: 25%;" src="/images/Escola_Albatroz.jpg">
                <img style="width: 25%;" src="/images/Logo_escola_albatroz_fundo_preto.png">
                <div class="newspaper-text">
                    <div class="column">
                      <!--CONTEUDO-->
                    </div>
                    <div class="column">
                      <!--CONTEUDO-->
                    </div>
                </div>
            </div>
        </div>        
<%- include('partials/footer') %>